#imagen {
	width: 150px;
	position: relative;
	display: block;
}
#lienzo {
	border: 1px solid gray;
	box-shadow: 0px 0px 20px gray inset;
	width: 100%;
	height: 750px;
	border-radius: 20px;
	overflow: hidden;
}
