/* You can add global styles to this file, and also import other style files */

/* @import "tailwindcss"; */

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
}

.altoPrecio {
    color: gray;
    font-size: 18px;
}

.fondoRojo {
    background: red;
}

.subrayado {
    text-decoration: underline;
}