svg {
	position: absolute;
}

#plano {
	z-index: 1;
}

#menu-button {
	z-index: 999;
	position: absolute;
	left: 1165px;
	top: 145px;
	width: 35px;
	height: 35px;
	color: white;
}

#menu-button:hover {
	color: lightblue;
	cursor: pointer;
}

#menuReservas {
	z-index: 999;
	position: absolute;
	margin: 0;
}

.mesa {
	z-index: 998;
}

defs {
	.silla {
		fill: #4a78c2;
		stroke: #2e4f80;
		stroke-width: 2;
	}
}
